#title {
  font-size: 100px;
  text-shadow: 2px 2px black;
  color: white;
}

.form-spacing {
  padding-top: 200px
}

#redirect {
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: white;
  border-style: solid;
  border-radius: 25px;
}

.forms {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 150px;
  margin-bottom: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: white;
  border-style: solid;
  border-radius: 25px;
}